﻿@{
    ViewBag.Title = "About Our Site";
    Layout = "~/Views/Shared/_LayoutPage_About.cshtml";
}
<h2 class="about_div">@ViewBag.Title</h2>

<div class="about_div">
    <p>
        This site is intended to create a safe environment to those people who want to post a link to a story that is found to
        contain questionable facts. Then, the posting user can enter a comment to start a discussion about the incorrect fact
        or statement. Other users can then fact check the story and reply to the original comment or any other comment posted
        by others.
    </p>
    <p>
        Comments will be checked for any negative responses which include derogatory statements towards a certain race, religion,
        or individual. The comment will be removed from the site along with the user that posts such statements. The
        posting user will face suspension or complete removal from the site depending on the severity of the post. We value
        civil discussions on our site to protect those individuals that wish to present factual reporting of questionable news
        story facts. Users will be able to flag users and comments that make it passed our built-in safe guards that are in place to
        keep all conversations courteous and polite.
    </p>
    <p>
        Another feature that users might enjoy is the ability to earn a trust level from your peers. As an enrolled user, there
        are many ways to rate a another user and their comments. Each comment box will contain rating buttons to accomplish
        this action. A <strong>TRUST</strong> button is to rate the posting user. The user trust level increases every time
        another user presses the button on a post. A high rating from your peers will validate that your comments are trustworthy.
        The facts written in a comment by a user can be rated by clicking on a <strong>UP</strong>/<strong>DOWN</strong> arrow which
        represents the comment as factual or might also contain questionable facts.
    </p>
</div>

<div class="col-md-9">
    <div class="about_div">
        <p>
            If you are someone that likes to have respectful conversations about the factual content of news stories, sign up for an
            account today. Be your own fact-checker and start posting right now. Just click on the link to begin.
        </p>
        @Html.ActionLink("Sign up today", "Home")
    </div>
</div>

