﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="h1_home">NewsCheck</h1>
    <p class="jumbo_font">NewsCheck is a place where people can start conversations about stories that may not state the correct facts.
                    People can interact by posting new comments to the page about the story. A user can rate the story, comment and 
                    posting user's trust level.</p>
    <p class="jumbo_font">This is a new way to keep news stories factual and weed out stories that may be deemed "fake news".</p>
    <div id="jumbo_btn">
        @Html.ActionLink("Learn More", "About", null, new { @class = "btn btn-primary" })
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Top 10 Story Links</h2>
        <p>
           Put links here. This will be determined by highest comment totals.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Today's Hot Topics</h2>
        <p>Put hot topics here. This will be done by checking datetime when the post was made and possibly keyword</p>
    </div>
</div>