@model IEnumerable<WhiskeyTangoFoxtrot.Models.City>

@{
    ViewBag.Title = "Search";
}

<br />
<h3 style="text-align: center">Find VA Facility Near You</h3><br />


<!-- Old method that took latitude and longitude from the user -->
@*<div class="form" style="text-align:center">
    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="inputOne">Latitude</label>
            <input class="form-control" id="lat" type="number" placeholder="Latitude..." />
        </div>
        <div class="form-group">
            <label class="sr-only" for="inputTwo">Longitude</label>
            <input class="form-control" id="long" type="number" placeholder="Longitude..." />
        </div>
    </form>
</div>
<div style="text-align: center">
    <button type="submit" id="searchBtn">Search Facilites</button>
</div><br />*@

<!-- Drop down menu that will display a list of cities available to search for -->
<div style="text-align: center">    
    <select id="selectCity">
        <option value="" disabled selected>-- Select City --</option>
        @foreach (var item in Model)
        {
            <option id="@item.City1" onclick="findCity(@item.Latitude, @item.Longitude)">@item.City1</option>
        }
    </select><br />
</div><br />

<!-- Facility search results will go here -->
<div id="results">
</div><br />

<div id="map" style="width:100%;height:500px;"></div>

@section Scripts{
    <script type="text/javascript" src="~/Scripts/VAFacilitySearch.js"></script>

    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 44.429, lng: -123.004 },
                zoom: 8
            });
        }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBERe0UJKwjez5wZByGBUoEAQx0cy67vEk&callback=initMap">
    </script>
}