﻿@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="col-lg-12" id="main_head_div">
        <h1 id="main_h1">Whiskey Tango Foxtrot</h1>
        <div class="transbox">
            <p class="main_paragraph">
                Welcome to Whiskey Tango Foxtrot!
                Our site is designed to be a place for military personnel and their families to search for VA facilities, discuss topics of interest,
                and live chat with others. We want our site to be easy to use and give our service men and women a place where they can get needed value all
                in one spot.
            </p>
            <p class="main_paragraph">
                This site is just coming into its own, meaning that we would like to add features a little at a time that will bring greater value to our
                military veterans which will include ways to check your benefits, schedule appointments, and anything else that would make getting things
                accomplished in a more streamlined manner. You've dedicated your life to your country, and we believe you need an easier way to navigate life
                and keep it uncomplicated to find the services and help you need.
            </p>
            <p class="main_paragraph">
                Currently, we offer limited services, but with your help, our goal is to create a site that is what our military personel want, so please use
                our contact page to send us a message of the services you would find beneficial to you. We have our ears open and look forward to hearing from
                you. Thank you for your service and dedication.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="card-deck">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/Content/image/map.jpg" alt="Map image" />
                <div class="card-body">
                    <h3>Find a VA Facility</h3>
                    <p>
                        We can help you find a local VA facility, or if you are traveling and want to find a facility to where you will be staying,
                        you can also access that information. The information provided will include the name of the facility, its address and telephone
                        number, and the hours of operation.
                    </p>
                    @Html.ActionLink("Search For a Facility", "Search", "VAFacilitySearch")
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/Content/image/soldieroncomputer.jpg" alt="Soldier on computer" />
                <div class="card-body">
                    <h3>Start a Discussion</h3>
                    <p>
                        We offer a discussion page where you can find what other military people are talking about. At times, you may need
                        information about the conditions of a VA facility in your area or how people are treated at a certain location. This is
                        a great place to start. Unfortunately, our discussion page is for site account holders so we can control any false information
                        from being spread.
                    </p>
                    @Html.ActionLink("Learn More", "UnderConstruction", "Home")
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/Content/image/livechat.jpg" alt="Live chat emblem" />
                <div class="card-body">
                    <h3>Live Chat with a Friend</h3>
                    <p>
                        Sometimes as people, we just need to reach out to loved ones or others for advice or a shoulder to lean on. With our live
                        chat, we want to help you with this valuable resource. Find those people that can give you the comfort you need when you
                        need it. The chat is only available to site account holders, but feel free to open an account and connect with other military families.
                    </p>
                    @Html.ActionLink("Start Live Chat", "MessageBoard", "Home")
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="second_row_index">
    <div class="card-deck">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/Content/image/FAQ-Icon.jpg" alt="FAQ Icon" />
                <div class="card-body">
                    <h3>Search Frequently Asked Questions</h3>
                    <p>
                        We have a FAQs page to look through questions that are frequently asked and the answers to those questions provided by
                        other users of our service. Please take the time to go through the FAQs page to see if your question is already there.
                        You don't need to be an account holder to use this FAQ page.
                    </p>
                    @Html.ActionLink("Search FAQs", "FaqPage", "Home")
                </div>
            </div>
        </div>
    </div>
</div>