﻿@model WhiskeyTangoFoxtrot.Models.Viewmodels.ProfileViewModel
@{
    ViewBag.Title = "UserIndex";
}

<link href="/Content/bootstrap.css" rel="stylesheet" />
<link href="/Content/site.css" rel="stylesheet" />

<div class="jumbotron">
    <h1>Hello @Model.UserProfiles.Select(a => a.FirstName).FirstOrDefault() @Model.UserProfiles.Select(a => a.LastName).FirstOrDefault()</h1>

</div>

<div>
    <h2>
        Bio: @Model.UserProfiles.Select(a => a.Bio).FirstOrDefault()<br />
        Is profile Private: @Model.UserProfiles.Select(a => a.ProfileIsPrivate).FirstOrDefault() <br />
        Users City:    @Model.UserProfiles.Select(a => a.UserCity).FirstOrDefault()<br />

    </h2>

    <div class="container">
        <h2>Forums</h2>
        <p>List of forums related to user</p>
        <div class="panel-group">

            @foreach (var forum in Model.Forums)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">@forum.ForumName</div>
                    <div class="panel-body">@forum.Message</div>
                </div>
            }
        </div>
    </div>


</div>
