﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - NewsCheck</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="home_body">
    <div class="navbar navbar-expand-lg navbar-inverse navbar-fixed-top" id="nav_bar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="marg">@Html.ActionLink("Stories", "UnderConstruction", "Home")</li>
                    <li class="marg">@Html.ActionLink("Users", "Index", "Users")</li>
                    <li class="marg_1">@Html.ActionLink("About", "About", "Home")</li>
                    <li class="px-2">@Html.TextBox("Index", "Index", "Search")</li>
                    <li class="marg">@Html.ActionLink("Register", "Create", "Users")</li>
                    <li class="marg">@Html.ActionLink("Sign In", "NewUserPage", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Drunken Coders</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
