﻿@model WhiskeyTangoFoxtrot.Models.Forum

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Forum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WTFUser.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WTFUser.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForumName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForumName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMemberOnly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMemberOnly)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ForumID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
