﻿@model IEnumerable<WhiskeyTangoFoxtrot.Models.Forum>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WTFUser.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForumName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsMemberOnly)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WTFUser.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ForumName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsMemberOnly)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ForumID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ForumID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ForumID })
        </td>
    </tr>
}

</table>
